/* основний колір тексту rgba(33, 33, 33, 1) */
/* другорядний колір тексту rgba(117, 117, 117, 1) */
/* блакитний акцент #2196F3 */
/* білий акцент #FFFFFF */
/*  чорний акцент rgba(0, 0, 0, 1) */
/* фон кнопки rgba(33, 150, 243, 1) */
/* адреса в футері rgba(255, 255, 255, 0.6)*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-br-color: #ffffff;
  --title-list-text-color: #757575;
  --footer-list: #ffffff 60%;
  --list-back-color:#f5f4fa;
}

body {
  background-color: var(--footer-list);
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
link {
  text-decoration: none;
}
.ul {
  list-style: none;
}

.hover-color:hover,
.hover-color:focus {
  color: var(--title-list-text-color);
  list-style: none;
  text-decoration: none;
}
button {
  cursor: pointer;
}
/*webstudio*/
.span {
  color: var(--accent-text-color);
  font-size: 26px;
}
.logo {
  color: var(--primary-text-color);

  font-family: Raleway;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
}
.active {
  background-color: var(--accent-text-color);
  color: var(--primary-br-color);
}
.accentlink {
  color: var(--primary-text-color);
  text-decoration: none;
}
.acsent {
  color: var(--accent-text-color);
}

/*knopka studii sunya*/
.accentlink {
  color: var(--accent-text-color);
  font-weight: 500;
  text-decoration: none;
}
/* ssulku portfolio i kontaktu*/
.link1{
  color:var(--accent-text-color);
  font-weight: 500;
  text-decoration: none;
}
.link {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/*suni ssulku*/
.lynk {
  color: var(--title-list-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* section1 Hero */

.hero {
  background-color: var(--title-text-color);
}
/* efektuvni rishennya*/
.hero-title {
  color: var(--primary-br-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  color: var(#000000 15%);
}

.hero-button {
  color: var(--primary-br-color);
  background-color: var(--accent-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* zagolovok h2 first*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*командa*/
/*scruwaem h1 na portfolio */
.section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* zagolovku h3*/
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align:left;
}
.section1{
  background-color: #f5f4fa;
}
.white{
  background-color:var(--primary-br-color);
}
/*zapus h3*/
.chlen{ 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align:center;}
.title-list {
  color: var(--title-list-text-color);
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
}

/*opus komandy  */
.title-team {
  color: var(--title-list-text-color);
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
}

/* Feature */

.feature-list.title {
  color: var(--primary-text-color);
}

/*портфоліо*/

ul {
  list-style: none;
}
/*actuvna knopka ysi*/
.active:active {
  background-color:var(--title-list-text-color);
  color:var(--accent-text-color);
   
}
/*knopku portfolio*/
.buttons:hover,
.buttons:focus {
  background-color:var(--accent-text-color);
   color: var(--primary-br-color);
}
  /* zagolovku portfolio*/
}
.progect-title {
  color: var(--primary-text-color);
  
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

}
/*opusannya grup portfolio */
.progect-deskription {
  color: var(--title-list-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  
}
/* footer*/

footer {background-color: var(--primary-text-color);
}
.span {
  color: var(--accent-text-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.hover-color:hover,
.hover-color:focus {
  color: var(--accent-text-color);
}
.abba {
  color: var(--primary-br-color);
  list-style: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;}
 


}
.acsent {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  list-style: none;
}
/* identical to box height */
.footer1 {
  color: var(--primary-br-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.footer11
{
  color: rgba(255,255,255,0.6);
  
  font-style: normal;

  line-height: 1.17;
  text-decoration: none;
}
.footer11:hover,
.footer11:focus{
  color:var(--accent-text-color);
}
/* or 171% */
