/* основний колір тексту rgba(33, 33, 33, 1) */
/* другорядний колір тексту rgba(117, 117, 117, 1) */
/* блакитний акцент #2196F3 */
/* білий акцент #FFFFFF */
/*  чорний акцент rgba(0, 0, 0, 1) */
/* фон кнопки rgba(33, 150, 243, 1) */
/* адреса в футері rgba(255, 255, 255, 0.6)*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-br-color: #ffffff;
  --title-list-text-color: #757575;
  --footer-list: #ffffff 60%;
}

body {
  background-color: var(--footer-list);
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
link {
  text-decoration: none;
}
.ul {
  list-style: none;
}

.hover-color:hover,
.hover-color:focus {
  color: var(--title-list-text-color);
  list-style: none;
  text-decoration: none;
}
button {
  cursor: pointer;
}
/*webstudio*/
.span {
  color: var(--accent-text-color);
  font-size: 26px;
}
.logo {
  color: var(--primary-text-color);

  font-family: Raleway;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
}
.active {
  background-color: var(--accent-text-color);
  color: var(--primary-br-color);
}
.accentlink {
  color: var(--accent-text-color);
}
.acsent {
  color: var(--accent-text-color);
}

/*knopka studii sunya*/
.accent.link {
  color: var(--accent-text-color);
  text-decoration: none;
}
/* ssulku portfolio i kontaktu*/
.link {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/*suni ssulku*/
.lynk{
  color: var(--title-list-text-color);
  text-decoration: none;
}
/* section1 Hero */

.hero {
  background-color: var(--title-text-color);
}
/* efektuvni rishennya*/
.hero-title {
  color: var(--primary-br-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  color: var(#000000 15%);
}

.hero-button {
  color: var(--primary-br-color);
  background-color: var(--accent-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*командa*/
/* Section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* zagolovku h3*/
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: left;
}
/*zapus h3*/
.title-list {
  color: var(--title-list-text-color);
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
}
/*opus komandy  */
.title-team {
  color: var(--title-list-text-color);
  font-weight: 400;
  line-height: 1.19;
  text-align: left;
}

/* Feature */

.feature-list.title {
  color: var(--primary-text-color);
}

/*портфоліо*/

ul {
  list-style: none;
}
/*actuvna knopka ysi*/
.active:active {
  background-color: #2196f3;
  color: #ffffff;
}
/*knopku portfolio*/
.buttons:hover:focus {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  /* zagolovku portfolio*/
}
.zagolovok {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
/*opusannya grup portfolio */
.paragraf {
  color: var(--title-list-text-color);
  font-weight: 400;
  line-height: 1.88;
  text-align: left;
}
/* footer*/
.footer {
  color: var(--primary-br-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.71;
  background-color: var(--primary-text-color);
  text-decoration: none;
}
.footer{
  background-color: var(--primary-text-color);
}
.span {
  color: var(--accent-text-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.acsent {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
/* identical to box height */
.footer1{
  color: var(--primary-br-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.footer11{
  color: var(--title-list-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
/* or 171% */
