
/* основний колір тексту rgba(33, 33, 33, 1) */
/* другорядний колір тексту rgba(117, 117, 117, 1) */
/* блакитний акцент #2196F3 */
/* білий акцент #FFFFFF */
/*  чорний акцент rgba(0, 0, 0, 1) */
/* фон кнопки rgba(33, 150, 243, 1) */
/* адреса в футері rgba(255, 255, 255, 0.6)*/

:root{
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-text-color: #2196F3 ;
    --primary-br-color:  #FFFFFF;
    --title-list-text-color: #757575;
    --footer-list: #FFFFFF 60%;

}

body {
    background-color: #FFFFFF;
    color:var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
   }
   ul {list-style: none;}
   /*webstudio*/
   .span { color:#2196F3}
   .logo {color: var(--primary-text-color);
    
   
    font-family: Raleway; 
    
font-size: 26px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}
   .accentlink{color:  var(--accent-text-color);}
   .acsent{color: var(--accent-text-color);}
    .acsent{color:var(--accent-text-color)}

/*навігація сайту*/
.accent.link {color: var(--accent-text-color);};

.site-nav.link {color:var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}

    /* section1*/
    .resheniya{
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    }
    h1{
        background-color:rgba(33, 33, 33, 1);
        color: white;
        text-align: center;
        height: 120px;
width: 696px;
left: 452px;
top: 280px;
border-radius: undefinedpx;
}
.knopka{background-color:#f5f5f5;
margin-top: 0px;  }
/*абзаци форматуємо та фото робимо зліва*/
    
/*команду центруємо*/
.fotos{
    text-align: center; 
    float:left;
}
/*всі робімо синім*/
.vsi{
    color: white;
    background-color: #2196F3;
    cursor:pointer;
    .button{
        cursor:pointer;
    }
}
/* футер */
.footer{
    background-color:#2f303a;
    font-family: inherit;
}

/*портфоліо*/
.potfolio{
    color:#212121;
    background-color: #f5f5f5;
}
.knopka{
    background-color: #2196F3;
    color: #FFFFFF;}