
/* основний колір тексту rgba(33, 33, 33, 1) */
/* другорядний колір тексту rgba(117, 117, 117, 1) */
/* блакитний акцент #2196F3 */
/* білий акцент #FFFFFF */
/*  чорний акцент rgba(0, 0, 0, 1) */
/* фон кнопки rgba(33, 150, 243, 1) */
/* адреса в футері rgba(255, 255, 255, 0.6)*/

:root{
    --primary-text-color: rgba(33, 33, 33, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-text-color: #2196F3 ;
    --primary-br-color:  #FFFFFF;
    --title-list-text-color: rgba(117, 117, 117, 1);

}

body {
    background-color: #FFFFFF;
        color : rgba(33, 33, 33, 1);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
   }
  
   /*webstudio*/
   
    .acsent:hover{color:var(--accent-text-color)}
 ul {list-style: none;}
/*навігація сайту*/
.accent.link{ color:var(--accent-text-color)};
.site-nav .link{ color: var(--title-text-color)};
.site-nav .link{ color: var(--title-text-color)};

    /* section1*/
    .resheniya{ background-color: black;
    text-anchor:var(--primary-br-color)}
    .button.knopka{var(--accent-text-color)}

 